<div class="container">
  <div class="row justify-content-sm-center" style="margin-top: 30px; text-align: center">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-4">Převodník z dvojkové soustavy do desítkové</h1>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row justify-content-sm-center">
      <div class="col-sm-12 col-md-6">
        <mat-form-field style="width: 100%; margin-top: 40px">
          <input matInput formControlName="number" placeholder="Číslo v dvojkové soustavě">
          <mat-error *ngIf="form.get('number').hasError('required')">
            Toto pole je <b>povinné!</b>
          </mat-error>
          <mat-error *ngIf="!form.get('number').hasError('required') && form.get('number').hasError('pattern')">
            Toto číslo není <b>dvojkové</b> soustavě!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-sm-12 col-md-6" style="text-align: center">
        <button mat-stroked-button color="primary" [disabled]="!form.valid">Převeď</button>
      </div>
    </div>
  </form>

  <div class="row justify-content-sm-center" *ngIf="result">
    <div class="col-sm-12 col-md-6" style="text-align: center; margin-top: 40px; font-size: 2rem">
      <p>{{result.from}} (binární)</p>
      <b>=</b>
      <p>{{result.to}} (desítková)</p>
    </div>
  </div>

</div>
