<div class="container">
  <div class="row justify-content-sm-center" style="margin-top: 30px; text-align: center">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-4">Převodník z dvojkové soustavy do desítkové</h1>
    </div>
  </div>

  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6">
      <mat-form-field style="width: 100%; margin-top: 40px">
        <input matInput [formControl]="input" placeholder="Číslo v dvojkové soustavě">
        <mat-error *ngIf="input.hasError('pattern')">
          Toto číslo není <b>dvojkové</b> soustavě!
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row justify-content-sm-center" *ngIf="result">
    <div class="col-sm-12 col-md-6" style="text-align: center; margin-top: 40px; font-size: 2rem">
      <p>{{result.from}} (binární)</p>
      <b>=</b>
      <p>{{result.to}} (desítková)</p>
    </div>
  </div>

</div>
